.topicGlobal{
    display: flex;
    justify-content: center;
}
.topic{
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.oneTopicCom, .oneTopicCri{
    margin-top: 20px;
    width: 50%;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 6px 7px 8px -3px rgba(0, 0, 0, 0.472);
}

.titleMessagePostCom, .titleMessagePostCri{
    margin-top: 20px;
    width: 60%;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.oneTopicCom{
    background-color: rgb(24, 47, 119);
    color : white;
   
}

.oneTopicCri{
    background-color: rgb(64, 9, 86);
    /* background-color:rgb(29 57 58 / 63%); */
    color : white;
}

.titlePost{
    border: 1px solid black;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    color: black;
    /* display: flex;
    justify-content: center; */
}

.messagePost{
    border: 1px solid black;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    color: black;

}

.commentsCom, .commentsCri{
    border: 1px solid black;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.commentsCom, .titleMessagePostCom{

    background-color: rgb(168, 177, 208);
}

.commentsCri, .titleMessagePostCri{
    background-color: rgb(163, 142, 172);
}

.imageTopic {
    margin-top: 10px;
    width: 75px;
    height: 107px;
    border-radius: 10px;
}

.imgType{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.userName{
    padding-top: 0px;
    margin-top: 0px;
}

.typeUserName{
    display:flex;
    flex-direction: column;
}